*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header{
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
    font-family: 'Bungee', cursive;
    font-weight: normal;
}


header h1{
    font-size: 35px;
}

.header{
    display: flex;
    align-items: center;
    justify-content: space-between
}

header{
    padding: 20px 0;
    background-color: rgba(252, 2, 2, 0.795);
    color: black;
}

ul{
    list-style-type: none
}

header nav li{
    display: inline;
    margin-bottom: 8px;
    margin-left: 15px;
}

header nav li a{
    font-size: 20px;
    font-weight: normal;
    color: black;
    text-decoration: none;
}

body{
    background-color: rgb(0, 0, 0);
}

.Personagens h2, p{
    color: white;
    font-family: 'Bacasime Antique', serif;
}

.Personagens h2{
    color: red;
    font-weight: normal;
    font-family: 'Bungee', cursive;
}

.Personagens h2{
    font-size: 35px;
    line-height: 70px;
}

.Personagens p{
    font-size: 21px;
}

.Personagens{
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
}

.Personagens{
    padding: 24px 0;
}

.Personagens{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.Personagens{
    align-items: flex-start;
}

.Foto_personagem{
    margin-left: 30px;
    height: 410px;
}



.sobre_o_jogo h2, p{
    color: white;
    font-family: 'Bacasime Antique', serif;
}

.sobre_o_jogo h2{
    color: red;
    font-weight: normal;
    font-family: 'Bungee', cursive;
}

.sobre_o_jogo h2{
    font-size: 35px;
    line-height: 70px;
}

.sobre_o_jogo p{
    font-size: 21px;
}

.sobre_o_jogo{
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
}

.sobre_o_jogo{
    padding: 24px 0;
}

.sobre_o_jogo{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.sobre_o_jogo{
    align-items: flex-start;
}

.logo_jogo{
    margin-right: 30px;
    height: 410px;
}

footer{
    background-color: red;
    color: black;
    padding: 16px 0;
}

footer{
    width: 100%;
    margin: 0 auto;
}